**

!.dockerignore
!composer.json
!composer.lock

!src/
!src/**

!plugins/
!plugins/**

!config/
!config/Migrations/
!config/Migrations/20260903120000_CreateKeycloakSsoTransactions.php
!config/Migrations/20260904120000_CreateKeycloakSsoIdentities.php
!config/Migrations/20260905120000_CreateKeycloakSsoCryptoEnrollments.php
!config/Migrations/20260906120000_CreateKeycloakSsoRotationBarriers.php

!docker/
!docker/keycloak-sso/
!docker/keycloak-sso/**
